/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  width: 100%;
  max-width: 96rem;
  margin: 0 auto;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.gallery {
  width: 95%;
  aspect-ratio: 16/9;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [6];
  grid-template-columns: repeat(6, 1fr);
  background-image: -o-linear-gradient(354.8deg, #adfcea 26.8%, #c0e5f6 64%);
  background-image: linear-gradient(95.2deg, #adfcea 26.8%, #c0e5f6 64%);
  border-radius: 0.2rem;
}

.box {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.box-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.box-2 {
  grid-column: 4/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.box-3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
.box-4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
.box-5 {
  grid-column: 5/-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
.box-6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}
.box-7 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}
.box-8 {
  grid-column: 6/-1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}
.box i {
  font-size: 2rem;
  font-size: clamp(2rem, 6vw, 5rem);
  color: #888;
  z-index: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: color 0.5s, -webkit-transform 0.5s;
  transition: color 0.5s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, color 0.5s;
  transition: transform 0.5s, color 0.5s;
  transition: transform 0.5s, color 0.5s, -webkit-transform 0.5s;
}
.box::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  -webkit-transition: -webkit-clip-path 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-clip-path 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: clip-path 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: clip-path 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: clip-path 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.box.left-effect::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 0);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 0);
}
.box.right-effect::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
}
.box.left-effect i {
  color: #fff;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.box.right-effect i {
  color: #fff;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

@media (min-width: 740px) {
  .gallery {
    width: 85%;
  }
}
